#create-character {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas:
    "info info skills"
    "notes items skills"
    "friends items abilities"
    "xp items abilities";
  gap: 2rem 5rem;
  padding:0 5rem;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.info {
  grid-area: info;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: max-content 1fr max-content 1fr max-content 1fr;
  border: 1px solid gainsboro;
  padding: 0.5rem;
}

.info input {
  height: 2rem;
}

.name {
  grid-column-start: 1;
  grid-column-end: span 1;
  width: 100%;
}

.name-input {
  grid-column-start: 2;
  grid-column-end: span 1;
}

.alias {
  grid-column-start: 3;
  grid-column-end: span 1;
  text-align: right;
}

.alias-input {
  grid-column-start: 4;
  grid-column-end: span 1;
}

.crew {
  grid-column-start: 5;
  grid-column-end: span 1;
  text-align: right;
}

.crew-input {
  grid-column-start: 6;
  grid-column-end: span 1;
}

.look {
  grid-column-start: 1;
  grid-column-end: span 1;
}

.look-input {
  grid-column-start: 2;
  grid-column-end: end;
}

.heritage {
  grid-column-start: 1;
  grid-column-end: 2;
}

.heritage-input {
  grid-column-start: 2;
  grid-column-end: end;
}

.background {
  grid-column-start: 1;
  grid-column-end: span 1;
}

.background-input {
  grid-column-start: 2;
  grid-column-end: end;
}

.vice {
  grid-column-start: 1;
  grid-column-end: span 1;
}

.vice-input {
  grid-column-start: 2;
  grid-column-end: span 2;
}

.purveyor {
  grid-column-start: 4;
  grid-column-end: span 1;
  text-align: right;
}

.purveyor-input {
  grid-column-start: 5;
  grid-column-end: end;
}


.abilities {
  grid-area: abilities
}

.friends {
  grid-area: friends;
  padding: 1rem 0;
}

.items {
  grid-area: items
}

.skills {
  grid-area: skills
}

.xp {
  grid-area: xp
}

.notes {
  grid-area: notes
}

.notes textarea {
  width: 100%;
  height: 100%;
  padding: 1rem;
}



.skills-box {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0 1rem;
  grid-template-areas:
    "skill-name skill-boxes"
}